Options -MultiViews
RewriteEngine On
RewriteBase /

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# If exact file or folder exists, serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route html pages without .html extension
RewriteCond %{DOCUMENT_ROOT}/.html -f
RewriteRule ^(.*)$ .html [L]

# Custom 404
ErrorDocument 404 /404.html
